body{
    background-color: black;
}
.live{
    margin-top: 100px;
    margin-left: 250px;
    height: 80vh;
    width: 60vw;
    background-color: white;
}
nav{
    height: 45px;
    width: 60vw;
    background-color: black;
}
.home1{
    color: yellow;

    position: fixed;
    margin-left: 185px;
}
.chat1{
    margin-left: 280px;
    color: yellow;
    position: fixed;
}
.shedule1{
    margin-left: 360px;
    position: fixed;
    color: yellow;
}
#shedule{
    margin-left: 10px;
}
.contacts1{
    margin-left: 460px;
    position: fixed;
    color: yellow;
}
#contact{
    margin-left: 10px;
}
.search{
    border: 1px solid white;
    margin-left: 640px;
    margin-top: 5px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
}
#search-b{
    position: fixed;

    margin-top: 5px;
    color: rgb(37, 36, 36);
}
input{
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 20px;
}
.login{
    margin-left: 840px;
    margin-top: 10px;
    position: fixed;
}
.login a{
    border: 1px solid white;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(50, 99, 205);
    color: green;
    border-radius: 10px;
}
.settings{
    color: black;
    position: relative;
    margin-left: 890px;
}
.new{
    margin-top: 90px;
    margin-left: 70px;
}
.text{
    text-decoration: none;
    margin-top: -10px;
    position: fixed;
    margin-left: 25px;
}
.join{
    margin-top: -140px;
    margin-left: 340px;

}
#text{
    margin-left: 390px;
}
.shedule{
    position: fixed;
    margin-left: 60px;
    margin-top: 90px;
}
.share{
    margin-top: 90px;
    margin-left: 350px;
}
.container{
    height: 50vh;
    width: 20vw;
    border-radius: 10px;
    margin-top: -350px;
    margin-left: 555px;
    border: 1px solid black;
}

#cal{
    margin-top: 65px;
    margin-left: 80px;
}
.te{
    margin-left: 120px;
    margin-top: -25px;
}